<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">
    <display-name>inWeb</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>

    <!-- 添加shiro支持  监听器和过滤器 -->
    <listener>
        <listener-class>org.apache.com.ims.shiro.shiro.web.env.EnvironmentLoaderListener</listener-class>
    </listener>
    <filter>
        <filter-name>ShiroFilter</filter-name>
        <filter-class>org.apache.com.ims.shiro.shiro.web.servlet.ShiroFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ShiroFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- shiro默认配置文件路径和文件名：classpath:com.ims.shiro.shiro.ini或者/WEB-INF/com.ims.shiro.shiro.ini，可以改写 -->
    <context-param>
        <param-name>shiroConfigLocations</param-name>
        <param-value>/WEB-INF/com.ims.shiro.shiro.ini</param-value>
    </context-param>
    <!-- 配置映射 -->
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.java1234.com.ims.shiro.shiro.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>adminServlet</servlet-name>
        <servlet-class>com.java1234.com.ims.shiro.shiro.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>teacherServlet</servlet-name>
        <servlet-class>com.java1234.com.ims.shiro.shiro.TeacherServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>teacherServlet</servlet-name>
        <url-pattern>/teacher</url-pattern>
    </servlet-mapping>
</web-app>